.Property_slider{
    /* border: 2px solid red; */
    /* display: flex; */
    /* height: fit-content; */
    align-self: center;
    max-width: 400px;
    box-sizing: border-box;
    /* overflow: hidden; */
    border-radius: 13px;
}

.slides {
    /* border: 2px solid green; */
    border-radius: 13px;
    /* width: 100% !important; */
}

.slider_desktop {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact_right {
    display: flex;
    width: fit-content;
    justify-content: flex-end;
    gap: 4px;
    box-sizing: border-box;
    position: sticky;
    /* border: 1px solid black; */
    background-color: #fff;
    bottom: 5px;
    margin-left: auto;
    margin-bottom: 20px;
    z-index: 999;
}

.contact_right>svg {
    width: 55px;
    height: 55px;
    align-self: center;
    fill: #1FC87F;
    margin: 0;
    /* border-radius: 13px; */
    
    padding: 0px;

}

.contact {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    background: #7F56D9;
    border: none;
    border-radius: 13px;
    color: #FFFFFF;
    min-width: 200px;
    flex: 1;
    max-width: 300px;
    width: 300px;
    height: 48px;
    align-self: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 0;
    margin-right: 0;
}

@media (width > 870px) {
    .Property_slider{
        /* border: 2px solid red; */
        display: none;
    }
    .contact_right{
        margin-top: 20px;
    }

}

@media (width <= 870px) {
    .slider_desktop {
        /* border: 2px solid red; */
        display: none;
    }

}

@media (width < 750px) {
    .contact {
        width: 40px;
        font-size: 1.2rem;
    }

}

@media (width < 560px) {

    .contact_right {
        align-self: flex-start;
    }
}

@media (width < 500px) {
    .Property_slider{
        max-width: 350px;
    }
}

@media (width < 430px) {
    .Property_slider{
        max-width: 300px;
    }
}

@media (width <= 420px) {
    .contact_right {
        width: 100%;
    }
}

@media (width < 360px) {
    .Property_slider{
        max-width: 250px;
    }
}

@media (width < 300px) {
    .contact {
        min-width: 170px;
        width: 10px;
        flex: 1;
        margin: 0;
    }
    .contact_right{
        margin: 0;
    }
}

