.list_your_property_form{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    overflow-y: auto;
  }
  
  .Form {
    padding: 30px;
  }
  .Form h1 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px red;
  }
  
  @media (width<650px) {
      .type_category{
        flex-wrap: wrap;
      }
  }
  @media (width<400px) {
      .bathroom_num{
        width: 80%;
        padding-left: 0;
        padding-right: 0;
        /* border: 2px solid red; */
    }
  }
  