.terms_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    height: 90vh;
    padding: 0px 32px;
    padding: 0px;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
}