

@media (width<321px) {
    .footer_hero{
        display: flex;
        justify-content: center;
        padding: 20px 12px;
        margin: 0;
    }
    .footer_hero_container{
        display: flex;
        justify-content: center;
    }
    .footer_hero_contact{
        width: 205px;
        padding-left: 20px;
        padding-right: 20px;
    }
}